/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define LWR 1
#define RSE 2
#define ADJ 3
#define SETTINGS 4

/ {

        conditional_layers {
          compatible = "zmk,conditional-layers";
            tri_layer {
              if-layers = <LWR RSE>;
              then-layer = <ADJ>;
            };
        };
	
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |            |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | ESC  |  A  |  S  |  D  |  F  |  G  |            |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |            |  N  |  M   |  ,  |  .  |  /  | ENT  |
// |                  | GUI | LWR | SPC |            | CTRL| RSE  | ALT |                  |
// -----------------------------------------------------------------------------------------
			label = "Main";
                        bindings = <
   &kp TAB    &kp Q   &kp W     &kp E     &kp R     &kp T           &kp Y     &kp U     &kp I       &kp O     &kp P     &kp BSPC
   &kp ESC    &kp A   &kp S     &kp D     &kp F     &kp G           &kp H     &kp J     &kp K       &kp L     &kp SEMI  &kp SQT
   &kp LSHFT  &kp Z   &kp X     &kp C     &kp V     &kp B           &kp N     &kp M     &kp COMMA   &kp DOT   &kp FSLH  &kp ENTER
                                &kp LGUI  &mo LWR   &kp SPACE       &kp LCTRL &mo RSE   &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |     |  UP |     |     |     |             |  ^  |  7  |  8  |  9  |  *  | BKSP |
// | to(0)| LEFT| DOWN|RIGHT|     |     |             |  =  |  4  |  5  |  6  |  -  |      |
// | SHFT |     |     |     |     |     |             |  .  |  1  |  2  |  3  |  +  |  /   |
// |                  | GUI |     | SPC |             | ENT |     |  0  |                  |
// -----------------------------------------------------------------------------------------
			label = "Numbers";
                        bindings = <
   &kp TAB    &none      &kp UP     &none       &none   &none         &kp CARET   &kp KP_N7    &kp KP_N8  &kp KP_N9  &kp KP_MULTIPLY   &kp BSPC
   &to 0      &kp LEFT   &kp DOWN   &kp RIGHT   &trans  &trans        &kp EQUAL   &kp KP_N4    &kp KP_N5  &kp KP_N6  &kp KP_MINUS      &none
   &kp LSHFT  &trans     &trans     &trans      &trans  &trans        &kp KP_DOT  &kp KP_N1    &kp KP_N2  &kp KP_N3  &kp KP_PLUS       &kp KP_SLASH
                          	        &kp LGUI    &trans  &kp SPACE     &kp RET     &trans       &kp KP_N0
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  !   |  @  |  #  |  $  |  %  |  ^  |             |  &  |  *  |  (  |  )  |  -  |  =   |
// | GRAVE|     |     |     |     |     |             |  -  |  =  |  +  |  {  |  }  |  \   |
// | SHFT |     |     |     |     |     |             |  _  |  +  |     |     |     |      |
// |                  | GUI |     | SPC |             | ENT |     | ALT |                  |
// -----------------------------------------------------------------------------------------
			label = "Symbols";
                        bindings = <
   &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET       &kp AMPS    &kp KP_MULTIPLY   &kp LPAR  &kp RPAR  &kp MINUS   &kp EQUAL
   &kp GRAVE &trans   &trans    &kp LBKT  &kp RBKT    &trans          &kp MINUS   &kp EQUAL         &kp PLUS  &kp LBRC  &kp RBRC    &kp BSLH
   &kp LSHFT &trans   &trans    &trans    &trans      &trans          &none       &none             &none     &none     &none       &none
                    	          &kp LGUI  &trans      &kp SPACE       &kp RET   &trans    &kp RALT
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// |TOG(4)| F1  | F2  | F3  | F4  | F5  |             | F6  | F7  | F8  | F9  | F10 | Del  |
// | GRAVE| F11 | F12 |     | MUTE| VOL-|             | VOL+|     |     | PGUP|     | Ins  |
// |L_GUI |     |     |     |     | BR- |             | BR+ |     |     | PGDN| END | HOME |
// |                  | GUI |     | SPC |             | ENT |     | ALT |                  |
// -----------------------------------------------------------------------------------------
			label = "Media";
                        bindings = <
   &tog SETTINGS  &kp F1   &kp F2    &kp F3    &kp F4      &kp F5             &kp F6            &kp F7    &kp F8    &kp F9       &kp F10   &kp DEL
   &kp GRAVE      &kp F11  &kp F12   &none     &kp C_MUTE  &kp C_VOL_DN       &kp C_VOL_UP      &none     &none     &kp PG_UP    &none     &kp INS
   &kp LGUI       &trans   &trans    &trans    &trans      &kp C_BRI_DN       &kp C_BRI_UP      &none     &none     &kp PG_DN    &kp END   &kp HOME
                    	               &kp LGUI  &trans      &kp SPACE          &kp RET           &trans    &kp RALT
                        >;
                };

                settings_layer {
// -----------------------------------------------------------------------------------------
// |TOG(4)|     |     |     | RGB | EXPW|             | EXPW|     |     |     |     |      |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |             |     |     |     |     |     |      |
// |      | EF- | SP- | SA- | HU- | BR- |             | BR+ | HU+ | SA+ | SP+ | EF+ |      |
// |                  |     |     |     |             |     |     |     |                  |
// -----------------------------------------------------------------------------------------
			label = "Settings";
                        bindings = <
  &tog SETTINGS &none         &none         &none         &none         &none   &none  &none   &none   &none   &none   &none
  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4        &none   &none   &none   &none   &none   &none
  &none         &none         &none        &none        &none         &none     &none   &none   &none   &none   &none   &none
                                            &trans        &trans        &trans              &trans  &trans  &trans
                        >;
                };
        };
};
